h1 {
  color: blue;
}

h1:hover {
  color: black;
  font-size: 4rem;
}

button:hover {
  background-color: green;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.2;
  border: 5px solid black;
  transition: 2s ease-in;
}
